@model IEnumerable<TourAgency.Models.Tour>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["DiscoverWorld"];
}

<link href="/css/index.css" rel="stylesheet">

<div class="hero-image">
    <div class="overlay">
        <div class="hero-text">
            <h1>@Localizer["DiscoverWorld"]</h1>
            <p>@Localizer["PrivateToursToExoticPlaces"]</p>
            <a href="/Home/Tours" class="btn btn-custom btn-lg">@Localizer["LookForMoreTours"]</a>
        </div>
    </div>
</div>

<div class="container tour-cards">
    <h2>@Localizer["AvailableTours"]</h2>
    <div class="row">
        @foreach (var tour in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="data:image;base64,@Convert.ToBase64String(tour.Image)" class="card-img-top" alt="@tour.Name">
                    <div class="card-body">
                        <h5 class="card-title">@Localizer["Visit"] @tour.Name <i class="fas fa-arrow-right"></i></h5>
                        <p class="card-text">@tour.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
